/**
 * Variables to be used throughout the project
 */

// Colors
$color-black: #111;
$color-grey: #ddd;
$color-green: rgba(39,174,96,0.6);
$color-blue: #1C5EA0;

 // Fonts 
$main-font: 'Cantarell', Helvetica, Arial, sans-serif;
$font-beta: 'Muli', sans-serif;
