/**
 * General layout styles
 */

html,
body {
	margin: 0;
	padding: 0;
	font-family: $main-font;
}

body {
	margin: 0 auto;
	background-image: url(https://justmarkup.com/justmarkup2015/src/img/bg.png);
}

.main,
.footer {
	@extend .clearfix;
	width: 1000px;
	max-width: 94%;
	max-width: 90vw;
	margin: 0 auto;
}

.main-front {
	padding-top: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea {
	max-width: 100%;
}

textarea {width: 100%;}

label {
	display: block;
}

code {
	padding: 0 3px;
	font-size: 16px;
	background: rgba($color-grey, 0.2);
}

pre {
	background: rgba($color-grey, 0.2);
	max-width: 100%;
	overflow-x: scroll;
	padding: 10px;
	margin: 20px 0 !important;
	border: 2px solid $color-green;
	border-width: 2px 0;
	code {background: none;}
}

h1, h2, h3, h4, h5, p, li, a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

h2 {
	font-weight: 400;
	font-size: 28px;
}

a:hover {
	text-decoration: none;
	border: none;
}

p {
	line-height: 1.6;
}

.article {
	margin: 0 0 40px 0;
	time {
		display: block;
		margin-bottom: 5px;
	}
	h3 {
		font-family: $font-beta;
		font-weight: 300;
		font-size: 24px;
		display: inline;
		a {
			color: $color-black;
			text-decoration: none;
			font-size: 20px;
			border-bottom: 1px solid $color-blue;
		}
	}
	li {
		padding: 4px 0;
	}
	.more,
	.more-link {
		color: $color-blue;
		text-decoration: none;
		display: block;
	}
	p a {color: currentColor;}
}

.main-front h3 a {font-size: 24px;}

.banner {
	margin: 0;
	padding: 10px 0;
	background-color: $color-grey;
	text-align: center;
	a {color: $color-black;}
}

.article-details a {
	color: $color-black;
}

.article-about {
	@extend .clearfix;
	padding: 10px;
	background: $color-grey;
	text-align: center;
	h3 {
		font-size: 24px;
		font-weight: 400;
		margin: 0 0 5px 0;
	}
	p {
		margin: 4px 0;
		a {color: $color-black;}
	}
}

@media all and (min-width: 540px) {
	.article-about {
		text-align: left;
		img {
			float: left;
			margin: 0 20px 20px 0;
		}
	}
}


.site-article {
	h1 {
		margin-bottom: 2px;
		font-size: 30px;
		font-weight: 400;
	}
	h2 {
		font-size: 24px;
		font-weight: 400;
		margin: 0 0 14px 0;
	}
	h3 a {color: $color-black;}
}

.hire-me {
	padding: 10px;
	background: $color-grey;
	margin: 0 0 30px 0;
}


// comments
.comments-wrapper {
	a {color: $color-black;}
}

.commentlist {
	margin: 0;
	padding: 20px 0 0 0;
	list-style: none;
	img {
		border-radius: 20px;
	}
	li {
		padding-bottom: 20px;
		border-bottom: 1px solid $color-grey;
	}
}
