/**
 * Typography
 */

body {
	font-family: $main-font;
	color: $color-black;
}

p {
	font-size: 1.125em;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid $color-green;
	margin: 1.5em 30px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
	display: inline;
}

.share-btn {
	background: #0971b1;
	color: #fff;
	padding: 0.4em 0.8em;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 2em;
}

.share-btn:focus,
.share-btn:hover {
	background: #0c4061;
}
